/* - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700



font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600&family=Ubuntu:wght@400;500;600;700;900&display=swap');

/* 

- 2em sides padding in main section




*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

img {
    width: 100%;
}

/* Text */

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(237, 23%, 32%);
    font-weight: 500;
}

p {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: hsl(237, 23%, 32%);
}

a {
    text-decoration: none;
    color: white;
}


/* Main Section */

main {
    min-height: 75vh;
    border-bottom-left-radius: 20%;
    
    position: relative;

    background:linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    z-index: 3;

    /* overflow:hidden; */


}

/* .hero-section_background {
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: url(images/bg-pattern-intro-mobile.svg);
    background-size: cover;
    transform: scale(2.25);
    object-fit: contain;
  
    left: -25px;
    bottom: -150px;
    z-index: -1;

} */

.hero-section_content {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    padding: 0 2.5em;
    gap: 1em;
}

.hero-section_content-btns {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
}

.hero-section_content h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;

}

.hero-section_content h1, 
.hero-section_content p {
    color: white;
}

.main-btns1 {
    background-color: white;
    border-radius: 20px;
    padding: 0.80em 1em;
    color:  hsl(353, 100%, 62%);
    font-weight: bolder;
    border: none;

}

.main-btns2 {
    background-color: transparent;
    border-radius: 20px;
    padding: 0.80em 1em;
    color: white;
    font-weight: bolder;
    border: white 1px solid;

}


@media (min-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }

    main {
        overflow: hidden;
    }

    .hero-section_background {
    position: absolute;
    width: 600px;
    height: 600px;
    background-image: url(images/bg-pattern-intro-mobile.svg);
    background-size: cover;
    transform: scale(2.25);
    object-fit: contain;
  
    left: -25px;
    bottom: -150px;
    z-index: -1;

    }
}

/* Navigation */

.navigation {
    display: flex;
    align-items: center; 
    gap: 2em;
    padding: 2em;

    
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.nav-menu_links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropBtn {
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: 0.5em;
    color: aliceblue;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5em;

    padding: 1.5em;
    min-width: 160px;

    border-radius: 5px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.dropdown-content_two {
    display: none;
    position: absolute;
    top: 5em;

    padding: 1.5em;
    min-width: 160px;

    border-radius: 5px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.dropdown-content_three {
    display: none;
    position: absolute;
    top: 5em;

    padding: 2em 1.5em;
    min-width: 160px;

    border-radius: 5px;
    text-align: left;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}


.dropdown-content.show,
.dropdown-content_two.show,
.dropdown-content_three.show {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.anchor a {
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.invert {
    transform: rotate(180deg);
}


.nav-menu_cta {
    display: flex;
    align-items: center;
    gap: 1.5em;
    
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
}

.nav-menu_login {
    color: white;
    cursor: pointer;
}

.nav-menu_signup {
    background-color: white;
    color: hsl(356, 100%, 66%);
    padding: 0.5em 1.5em;
    border-radius: 40px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar {
    width: 30px;
    height: 2.5px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 700px) {
    .nav-menu {
        display: none;
    }



    .navigation {
        justify-content: space-between;
        position: relative;
        
    }

    .menu-icon {
        display: inline-block;
    }


    .nav-menu.active {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 2em;
    
        position: absolute;
        top: 5em;
        left: 0;
        right: 0;
        margin: auto;
        
        background-color: white;
        border-radius: 7px;

        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);

    }


    .nav-menu_links {
        display: flex;
        flex-direction: column;
        gap: 1em;       
  

    }

    .nav-menu_cta {
        display: flex;
        flex-direction: column;
        
    }


    .dropBtn {
        color: black;
    }

    .dropBtn img {
        background-color: red;

    }


    .nav-menu_cta {
        margin-top: 2em;
        padding-top: 2em;
        gap: 1em;

        border-top: 1px solid rgb(159, 159, 159);
    }

    .nav-menu_login {
        color: black;
    }

    .nav-menu_signup {
        background:linear-gradient(to right,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        color: white;
        padding: 0.5em 1.5em;
        border-radius: 40px;
    }

    /* Drop Contents */
   
    .dropdown {
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .dropdown button img {
        max-width: 12px;
    }

    .dropdown button {
        justify-content: center;
    }
   

    .dropdown-content_three {
        top: 1em;
        left: 0;
        right: 0;
        margin: auto;

        /* Changing this to relative made all the difference */
        position: relative;


        box-shadow: none;
        background-color: rgb(239, 239, 239);
        width: 100%;
        text-align: center;
    }

    .dropdown-content_two {
        top: 1em;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 1em;


        /* Changing this to relative made all the difference */
        position: relative;


        box-shadow: none;
        background-color: rgb(239, 239, 239);
        width: 100%;
        text-align: center;
    }

    .dropdown-content {
        top: 1em;
        left: 0;
        right: 0;
        margin: auto;
        margin-bottom: 1em;

        /* Changing this to relative made all the difference */
        position: relative;


        box-shadow: none;
        background-color: rgb(239, 239, 239);
        width: 100%;
        text-align: center;
    }
    
}


 /* display: none;
        position: absolute;
        top: 5em;
    
        padding: 2em 1.5em;
        min-width: 160px;
    
        border-radius: 5px;
        text-align: left;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3); */


/* Top Section */

.top {
    margin: 5em 0;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

    min-height: 120vh;

}

.top img {
    width: 100%;
}

.top-text {
    display: flex;
    flex-direction: column;
    gap: 3em;

    padding: 0 2em;
}

.top-text p {
    margin-top: 1em;
}

.top-desktop .desktop {
    display: none;
}

@media (min-width: 750px) {
   .top-desktop {
    display: flex;
    justify-content: space-between;
   }

   .top-text {
    text-align: left;
    max-width: 500px
   }

   .top {
    position: relative;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    
   }

   .top-desktop img {
    position: absolute;
    
    max-width: 450px;
    right: -10em;
    top: 0;
    z-index: 20;
   }

   .top-desktop .mobile {
    display: none;
    }

    .top-desktop .desktop {
        display: flex;
    }
}

@media (min-width: 900px) {
    .top-desktop img {
      max-width: 800px;

      top: 2em;
      right: -15em;
    }

    .top {
        /* max-width: 1200px; */
        /* overflow-y:visible; */
       
        display: flex;
        padding-top: 5em;

    }

    .top-text {
        padding-top: 5em;
        /* text-align: left;
        max-width: 500px */
        margin-left: 10em;
        max-width: 600px;
    }

  

    .top-h2 {
        font-size: 1.9rem;
    }
}


/* Middle */

.middle {
    position: relative;
    margin-top: 15em;
}

.middle-background {
    background-color: hsl(237, 17%, 21%);
    width: 100%;
    height: 100vh;

    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    position: relative;

    overflow: hidden;
}

.middle-text {
    position:absolute;
    bottom: 10em;
    padding: 0 2em;

    z-index: 2;
}

.middle-text h2,
.middle-text p {
    color: white;
    
}

.middle-text h2 {
    font-size: 2rem;
}

.middle-text p {
    margin-top: 1.5em;

}

.middle-image_circle {
    position: absolute;
    width: 580px;
    z-index: 1;

    top: -32em;
    transform: translate(-50%, 50%);

}

.middle-image_phone {
    position: absolute;
    top: -24em;
    z-index: 3;

    transform: translate(-50%, 50%);
} 

@media (min-width: 900px) {
    .middle {
        position: relative;
        margin-top: 7em;
    }
    
  

     .middle-text {
      
        /* text-align: left;
        max-width: 500px */
       
        max-width: 600px;
    }

    .middle-image_circle {
        position: absolute;
        width: 1000px;
        z-index: 1;
        left: -12em;
        top: -30em;
        
        transform: translate(0,0)
    }

    .middle-background {
        max-height: 60vh;
        position: relative;
        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;

    }

    .middle-image_phone {
        position: absolute;
        top: -5em;
        left: 4em;
        z-index: 3;
        width: 600px;
        transform: translate(0,0);
    } 

    .middle-text {
        position:absolute;
        right: 15em;
        top: 8em;
        padding: 0em;
        z-index: 2;

        max-width: 500px;
        text-align: left;
       
    }
    
}







/* Bottom */

.bottom {
    margin: 7em 0;
}

.bottom-text {
    padding: 0 2em;
    text-align: center;
}

.bottom-text p,
.bottom-text h2 {
    margin-top: 1.5em;
    
}

/* Footer */

footer {
    background-color: hsl(240, 10%, 16%);
    padding: 4em;
    border-top-right-radius: 90px;
}

footer img {
    max-width: 40%;
    margin-bottom: 6em;
}

.footer-text {
    color: hsl(240, 2%, 79%);
    font-family: 'Overpass', sans-serif;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer ul {
    padding: 0;

}

.footer h4 {
    margin-bottom: 1em;
    color: white;
}

li {
    list-style: none;
}